// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-family: $sans;
  > div {
    border-bottom: none;
    > div {
      border-right: none;
    }
  }
}

article {
  &:first-child {
    padding-top: 0;
  }
  header {
    background: none;
    h1 {
      a:hover {
        text-decoration: none;
      }
    }
  }
  blockquote {
    font-size: .8em;
  }
}

aside.sidebar {
  border: none;
  
  .aboutme img {
    float: left;
    margin: 0 5px 5px 0;
  }
}

#content, #content .blog-index {
  > div, > article {
    &:first-child {
      padding-top: 0;
    }
  }
  article header {
    padding-bottom: inherit;
  }
  article header h1 {
    font-family: $post-title-font-family;
    font-size: $post-title-font-size;
    color: $title-color;
    text-transform: lowercase;
    @media only screen and (min-width: 768px) {
      font-size: $post-title-font-size * 1.2;
    }
    @media only screen and (min-width: 992px) {
      font-size: $post-title-font-size * 1.3;
    }
  }
}

article + article {
  .blog-index & {
    background: none;
  }
}

#content div.pagination {
  background: none;
}
